<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="springbook.sug.web" />
	
	<mvc:annotation-driven conversion-service="conversionService" />
	
	<mvc:default-servlet-handler />
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/**"/>
			<bean class="springbook.sug.web.security.UserSecurityInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="springbook.sug.web.converter.TypeConverter$StringToType" />
				<bean class="springbook.sug.web.converter.TypeConverter$TypeToString" />
				<bean class="springbook.sug.web.converter.GroupConverter$GroupToString" />
				<bean class="springbook.sug.web.converter.GroupConverter$StringToGroup" />
			</set>
		</property>
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
</beans>
